<div id="firstPage">
<article class="resume-wrapper text-center position-relative">
	<div style="border: 1px solid black;" class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		<header class="resume-header pt-4 pt-md-0">
			<div class="media flex-column flex-md-row">
				<img class="mr-3 img-fluid picture mx-auto" src="assets/images/shane.png" alt="">
				<div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					<div class="primary-info">
						<h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Shane Arthur</h1>
						<div class="title mb-3">Software Engineer</div>
						<ul class="list-unstyled">
							<li class="mb-2"><a href="#" data-html2canvas-ignore="true"><i class="far fa-envelope fa-fw mr-2"
										data-fa-transform="grow-3"></i>shane.arthur@gmail.com</a></li>
							<li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2"
										data-fa-transform="grow-6"></i>647-292-1334</a></li>
						</ul>
					</div>
					<!--//primary-info-->
					<div class="secondary-info ml-md-auto mt-2">
						<ul class="resume-social list-unstyled">
							<li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i
											class="fab fa-linkedin-in fa-fw"></i></span>https://www.linkedin.com/in/shane-arthur-8b902071</a>
							</li>
							<li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i
											class="fab fa-github-alt fa-fw"></i></span>github.com/shane-arthur</a>
							</li>
							<li><a href="#"><span class="fa-container text-center mr-2"><i
											class="fas fa-globe"></i></span>shane-arthur.io</a></li>
						</ul>
						<div style="margin-top: 30px!important;"><span class="fa-container text-center mr-2"><i
									class="fas fa-globe"></i></span><span> Toronto, ON, CAN</span></div>
					</div>
					<!--//secondary-info-->

				</div>
				<!--//media-body-->
			</div>
			<!--//media-->
		</header>
		<div style="padding:2.0rem!important;" class="resume-body p-5">
			<section style="margin-bottom: 1.5rem !important;" class="resume-section summary-section mb-5">
				<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
				<div class="resume-section-content">
					<p style="font-size: 15px;" class="mb-0">Full stack software engineer, with a focus towards the
						front end and front end technologies, I have over 7 years of professional experience in the
						field. Software development has taken me across the continent, having graduated from the
						Memorial University of Newfoundland in St John's Newfoundland, I have sinced lived in various cities
						across North America, and now reside in Toronto, ON which I have called home for the last 4 years. I have experience in both enterprise and startup
						settings, as well as several years of experience as a consultant. I have worked as a full
						stack, backend, and now a front-end focused engineer, having working proficiency in
						Javascript, Java, C#, Node, HTML, (CSS/LESS/SASS/SCSS), Angular, React, React Native, cloud
						technologies and more.</p>
				</div>
			</section>
			<!--//summary-section-->
			<div class="row">
				<div class="col-lg-9">
					<section class="resume-section experience-section mb-5">
						<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience
						</h2>
						<div class="resume-section-content">
							<div class="resume-timeline position-relative">
								<article style="padding-bottom:1.5rem!important;"
									class="resume-timeline-item position-relative pb-5">

									<div class="resume-timeline-item-header mb-2">
										<div style="margin-top: -10px; justify-content: space-between;"
											class="d-flex flex-column flex-md-row">
											<h3 class="resume-position-title font-weight-bold mb-1">UI Architect
											</h3>
											<div class="resume-company-name ml-auto">Home Depot Canada <small
													style="text-align:center; display: block;">North York,
													ON, CAN</small></div>
										</div>
										<!--//row-->
										<div style="margin-top: -15px;" class="resume-position-time">Sept. 2018 -
											Present</div>
									</div>
									<!--//resume-timeline-item-header-->
									<div style="font-size: 14px;" class="resume-timeline-item-desc">
										<p>UI Architect Leading a large team of 20+ front end engineers through The
											Home Depot Canada's digital Transformation. Responsible for high level
											architecture, feature delivery, crisis production defect triaging,
											mentorship of junior engineers, and more.</p>
										<h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:
										</h4>
										<ul style="font-size: 13px;">
											<li>Led the migration of over 75% of Home Depot Canada to single page
												Angular Applications</li>
											<li>Architect and developed pages responsible for generating up to $10
												Million CAD revenue daily as of spring 2020. </li>
											<li>Developed coding and design standards, style guides,
												boilerplates, shared libraries, component libraries and core modules used organization wide
												for all UI.</li>
											<li>Increased website conversation by over 25% attributed to performance
												increases, and better user experiences on redesigned pages. </li>
										</ul>
										<h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies
											used:</h4>
										<ul class="list-inline">
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Angular</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Typescript</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Node.js</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Express.js</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">RxJs</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Webpack</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">HTML/CSS/SCSS</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Google Cloud
													Platforms</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Kubernetes</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Java</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Jenkins</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Bamboo</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Akamai</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">Adobe AEM</span></li>
											<li class="list-inline-item"><span
													class="badge badge-primary badge-pill">SAP Hybris</span></li>
										</ul>
									</div>
									<!--//resume-timeline-item-desc-->

								</article>
								<!--//resume-timeline-item-->

								<article style="padding-bottom:1.0rem!important;"
									class="resume-timeline-item position-relative pb-5">

									<div class="resume-timeline-item-header mb-2">
										<div style="margin-top: -20px; justify-content: space-between;"
											class="d-flex flex-column flex-md-row">
											<h3 class="resume-position-title font-weight-bold mb-1">Senior Software
												Engineer <small style="font-size: 12px;"
													class="text-muted">(Contract)</small></h3>
											<!--<span style="display: flex; justify-content: center; flex-direction: column; align-items:center; margin-left: 10px; font-size: 12px;">(contract)</span> -->
											<div class="resume-company-name ml-auto">Royal Bank Canada <small
													style="text-align:center; display: block;">Toronto,
													ON, CAN</small>
											</div>
										</div>
										<!--//row-->
										<div style="margin-top:-15px;" class="resume-position-time">Apr. 2018 - Sept
											2018</div>
									</div>
									<!--//resume-timeline-item-header-->
									<div style="font-size: 14px;" class="resume-timeline-item-desc">
										<p>Senior front end engineer, responsible for creating interactive userfaces
											and fixing legacy defects for one of Royal Bank Canada's Big Data
											Analytic Teams.</p>
										<h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements
										</h4>
										<ul style="font-size: 13px;">
											<li>Created a data-visualization dashboard in Angular capable of
												consuming and visualizing large unstructured batched data.</li>
											<li>Sought after and fixed legacy defects, some of which have been
												plaguaging the organization for over 5 years. </li>
										</ul>
									</div>
									<!--//resume-timeline-item-desc-->

								</article>
						
																				
								<!--//resume-timeline-item-->
							</div>
							<!--//resume-timeline-->
						</div>
					</section>
					<!--//experience-section-->
				</div>
				<div class="col-lg-3">
					<section class="resume-section skills-section mb-5">
						<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp;
							Tools</h2>
						<div class="resume-section-content">
							<div class="resume-skill-item">
								<h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
								<ul class="list-unstyled mb-4">
									<li class="mb-2">
										<div class="resume-skill-name">Angular</div>
										<div class="progress resume-progress">
											<div class="progress-bar theme-progress-bar-dark" role="progressbar"
												style="width: 90%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</li>
									<li class="mb-2">
										<div class="resume-skill-name">JavaScript</div>
										<div class="progress resume-progress">
											<div class="progress-bar theme-progress-bar-dark" role="progressbar"
												style="width: 85%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</li>
									<li class="mb-2">
										<div class="resume-skill-name">Node.js</div>
										<div class="progress resume-progress">
											<div class="progress-bar theme-progress-bar-dark" role="progressbar"
												style="width: 80%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</li>

									<li class="mb-2">
										<div class="resume-skill-name">HTML/CSS/SCSS/LESS</div>
										<div class="progress resume-progress">
											<div class="progress-bar theme-progress-bar-dark" role="progressbar"
												style="width: 80%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</li>
									<li class="mb-2">
										<div class="resume-skill-name">React</div>
										<div class="progress resume-progress">
											<div class="progress-bar theme-progress-bar-dark" role="progressbar"
												style="width: 70%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</li>
									<li class="mb-2">
										<div class="resume-skill-name">Cordova, React Native, Nativescript</div>
										<div class="progress resume-progress">
											<div class="progress-bar theme-progress-bar-dark" role="progressbar"
												style="width: 60%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</li>
								</ul>
							</div>
							<!--//resume-skill-item-->

							<div class="resume-skill-item">
								<h4 class="resume-skills-cat font-weight-bold">Backend</h4>
								<ul class="list-unstyled">
									<li class="mb-2">
										<div class="resume-skill-name">Node.js (Hapi.js, express.js)</div>
										<div class="progress resume-progress">
											<div class="progress-bar theme-progress-bar-dark" role="progressbar"
												style="width: 80%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</li>
									<li class="mb-2">
										<div class="resume-skill-name">Java</div>
										<div class="progress resume-progress">
											<div class="progress-bar theme-progress-bar-dark" role="progressbar"
												style="width: 55%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</li>
									<li class="mb-2">
										<div class="resume-skill-name">C# (.NET)</div>
										<div class="progress resume-progress">
											<div class="progress-bar theme-progress-bar-dark" role="progressbar"
												style="width: 55%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</li>
								</ul>
							</div>
							<!--//resume-skill-item-->

							<div class="resume-skill-item">
								<h4 class="resume-skills-cat font-weight-bold">Others</h4>
								<ul class="list-inline">
									<li class="list-inline-item"><span class="badge badge-light">Google Cloud
											Platforms</span></li>
									<li class="list-inline-item"><span class="badge badge-light">Firebase</span>
									</li>
									<li class="list-inline-item"><span class="badge badge-light">Bitbucket</span>
									</li>
									<li class="list-inline-item"><span class="badge badge-light">Jira</span></li>
									<li class="list-inline-item"><span class="badge badge-light">Bamboo</span></li>
									<li class="list-inline-item"><span class="badge badge-light">Git</span></li>
									<li class="list-inline-item"><span class="badge badge-light">Docker</span></li>
									<li class="list-inline-item"><span class="badge badge-light">Postgres SQL</span>
									</li>
									<li class="list-inline-item"><span class="badge badge-light">MySQL</span></li>
									<li class="list-inline-item"><span class="badge badge-light">MSSQL</span></li>
									<li class="list-inline-item"><span class="badge badge-light">Jenkins</span></li>
									<li class="list-inline-item"><span class="badge badge-light">PWA</span></li>
									<li class="list-inline-item"><span class="badge badge-light">ASP.NET</span></li>
								</ul>
							</div>
							<!--//resume-skill-item-->
						</div>
						<!--resume-section-content-->
					</section>
				</div>
			</div>
			<!--//row-->
		</div>
		<!--//resume-body-->
	</div>
</article>
</div>


<!---   Second PDF Page     -->


<div id="secondPage">
		<article class="resume-wrapper text-center position-relative">
			<div style="border: 1px solid black;" class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
				<div style="padding:2.0rem!important; background-color: white;" class="resume-body p-5">
					<!--//summary-section-->
					<div class="row">
						<div class="col-lg-9">
							<section class="resume-section experience-section mb-5">
								<div class="resume-section-content">
									<div class="resume-timeline position-relative">
										<article style="padding-bottom:1.0rem!important;">
											<!--//resume-timeline-item-header-->
											<div style="font-size: 14px;" class="resume-timeline-item-desc">
												<h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies
													used:</h4>
												<ul class="list-inline">
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Angular</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">RxJs</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">NgRx</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">HTML/SASS</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">React</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Redux</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">angular.js</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Postgres SQL</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Java</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">JQuery</span></li>
												</ul>
											</div>
											<!--//resume-timeline-item-desc-->
		
										</article>
										<!--//resume-timeline-item-->
		
										<article style="padding-bottom:0 !important;"
											class="resume-timeline-item position-relative pb-5">
		
											<div class="resume-timeline-item-header mb-2">
												<div style="justify-content: space-between;"
													class="d-flex flex-column flex-md-row">
													<h3 class="resume-position-title font-weight-bold mb-1">Senior Software
														Engineer</h3>
													<div class="resume-company-name ml-auto">Home Depot Canada <small
															style="text-align:center; display: block;">North York,
															ON, CAN</small></div>
												</div>
												<!--//row-->
												<div style="margin-top:-15px;" class="resume-position-time">Nov.2017 -
													Apr.2018</div>
											</div>
											<!--//resume-timeline-item-header-->
											<div style="font-size:14px;" class="resume-timeline-item-desc">
												<p>Senior / Lead Front End engineer resonsible for leading the kick-off of
													The Home Depots Canada's Digital Transformation from the front-end.</p>
												<h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements
												</h4>
												<ul style="font-size: 13px;">
													<li>Created the first non-static, responsive UI in the Home Depot
														Canada's e-commerce website, resulting in a non-subjectively better
														end to end shopping experience. </li>
													<li> Created boilerplate / tooling which is now used by over 100
														engineers organization wide when creating new pages and
														micro-components.</li>
												</ul>
												<h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies
													used:</h4>
												<ul class="list-inline">
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Angular</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Typescript</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">RxJs</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">HTML/CSS/SCSS</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Java</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Jenkins</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Adobe AEM</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">SAP Hybris</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">JQuery</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">JavaServer Pages</span>
													</li>
												</ul>
											</div>
											<!--//resume-timeline-item-desc-->
		
										</article>
										<!--//resume-timeline-item-->
		
										<article style="padding-bottom:0.5rem!important;"
											class="resume-timeline-item position-relative">
		
											<div class="resume-timeline-item-header mb-2">
												<div class="d-flex flex-column flex-md-row">
													<h3 class="resume-position-title font-weight-bold mb-1">Software
														Consultant</h3>
													<div style="text-align: right; margin-top:-5px;"
														class="resume-company-name ml-auto">Capco
														<small style="text-align:center; display: block;">Toronto,
															ON, CAN</small></div>
												</div>
												<!--//row-->
												<div style="margin-top:-10px;" class="resume-position-time">Jun.2017 -
													Nov.2017</div>
											</div>
											<!--//resume-timeline-item-header-->
											<div style="font-size:14px;" class="resume-timeline-item-desc">
												<p>Acting as a front end engineer on a test-driven development style project
													for one one of the big banks, I was responsible for architecture,
													feature creation, and test automation. The applications function was to
													complete backoffice/admin tasks for one of their mobile online banking
													platforms/applications.</p>
												<h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies
													used:</h4>
												<ul class="list-inline">
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Angular</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">NGRX</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Protractor</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Typescript</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">RxJs</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">HTML/CSS/SCSS</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Bamboo</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Ionic 3</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Angular Material</span>
													</li>
												</ul>
											</div>
											<!--//resume-timeline-item-desc-->
		
										</article>
		
										<article class="resume-timeline-item position-relative">
		
											<div class="resume-timeline-item-header mb-2">
												<div class="d-flex flex-column flex-md-row">
													<h3 class="resume-position-title font-weight-bold mb-1">Software
														Consultant</h3>
													<div style="margin-top:-5px; text-align: right;"
														class="resume-company-name ml-auto">Avande
														<small style="text-align:center; display: block;">Toronto,
															ON, CAN & Greater New York City Area, NY, USA</small></div>
												</div>
												<!--//row-->
												<div style="margin-top:-10px;" class="resume-position-time">Jan.2016 -
													Jun.2017</div>
											</div>
											<!--//resume-timeline-item-header-->
											<div style="font-size:14px;" class="resume-timeline-item-desc">
												<p>Placed on two projects throughout my time at Avande, both as a
													full-stack engineer. One project was a portfolio visualization project
													for a large American hedgefund.
													The other project was an application used by call centre agents at one
													of the Big Banks in Canada to help better serve clients with incoming
													inquiries.</p>
												<h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies
													used:</h4>
												<ul class="list-inline">
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">React</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">HighCharts.js</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Alt.js</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">C# (WPF)</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Hapi.js</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">HTML/LESS</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Java (Spring MVC)</span>
													</li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Grunt</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Xunit/Junit</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Angular.js</span></li>
		
												</ul>
											</div>
											<!--//resume-timeline-item-desc-->
		
										</article>
		
										<article class="resume-timeline-item position-relative">
		
											<div class="resume-timeline-item-header mb-2">
												<div class="d-flex flex-column flex-md-row">
													<h3 class="resume-position-title font-weight-bold mb-1">Software
														Consultant</h3>
													<div style="margin-top:-5px; text-align: right;"
														class="resume-company-name ml-auto">NTT Data
														<small style="text-align:center; display: block;">Halifax,
															NS, CAN</small></div>
												</div>
												<!--//row-->
												<div style="margin-top:-10px;" class="resume-position-time">Jan.2015 -
													Jan.2016</div>
											</div>
											<!--//resume-timeline-item-header-->
											<div style="font-size:14px;" class="resume-timeline-item-desc">
												<p>Worked as a back-end developer, creating RESTful endpoints for a large
													American Investment Managment Company, related to financial
													transactions, and backoffice tasks.</p>
												<h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies
													used:</h4>
												<ul class="list-inline">
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Java Spring</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">IBatis</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Junit</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">WS02 Messasing
															Broker</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Maven</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Jenkins</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Java (Spring MVC)</span>
													</li>
												</ul>
											</div>
											<!--//resume-timeline-item-desc-->
		
										</article>
		
										<article class="resume-timeline-item position-relative">
		
											<div class="resume-timeline-item-header mb-2">
												<div class="d-flex flex-column flex-md-row">
													<h3 class="resume-position-title font-weight-bold mb-1">Web Application
														Developer</h3>
													<div style="margin-top:-5px; text-align: right;"
														class="resume-company-name ml-auto">GreenNexxus
														<small style="text-align:center; display: block;">Fredericton,
															NB, CAN</small></div>
												</div>
												<!--//row-->
												<div style="margin-top:-10px;" class="resume-position-time">Apr.2013 -
													Oct.2014</div>
											</div>
											<!--//resume-timeline-item-header-->
											<div style="font-size:14px;" class="resume-timeline-item-desc">
												<p>Part of a small team of full-stack developers, creating a SAAS product
													which was a web application to promote organization
													to commit environmentally friendly acts. Clients included major North
													American Universities and Financial Institutions.
												</p>
												<h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies
													used:</h4>
												<ul class="list-inline">
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">C#</span></li>
													<li class="list-inline-item"><span
																class="badge badge-primary badge-pill">ASP.NET
																Webforms/MVC</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">HTML/CSS</span></li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">Javascript (ES5)</span>
													</li>
													<li class="list-inline-item"><span
															class="badge badge-primary badge-pill">JQuery Mobile
														</span></li>
												</ul>
											</div>
											<!--//resume-timeline-item-desc-->
										</article>
										<!--//resume-timeline-item-->
									</div>
									<!--//resume-timeline-->
								</div>
							</section>
							<!--//experience-section-->
						</div>
						<div class="col-lg-3">
							<section class="resume-section education-section mb-5">
								<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
								<div class="resume-section-content">
									<ul class="list-unstyled">
										<li class="mb-2">
											<div class="resume-degree font-weight-bold">BSc in Computer Science</div>
											<div class="resume-degree-org">Memorial University of Newfoundland</div>
											<div class="resume-degree-time">2008 - 2012</div>
										</li>
									</ul>
								</div>
							</section>
							<!--//education-section-->
							<section class="resume-section reference-section mb-5">
								<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h2>
								<div class="resume-section-content">
									<ul class="list-unstyled resume-awards-list">
										<li class="mb-2 pl-4 position-relative">
											<i class="resume-award-icon fas fa-trophy position-absolute"
												data-fa-transform="shrink-2"></i>
											<div class="resume-award-name">Highest Impact Project</div>
											<div class="resume-award-desc">Was a team memeber on the highest impact project
												in 2016 for Avande. As selected by clients and peers.
											</div>
										</li>
										<li class="mb-0 pl-4 position-relative">
											<i class="resume-award-icon fas fa-trophy position-absolute"
												data-fa-transform="shrink-2"></i>
											<div class="resume-award-name">Homer Award(s)</div>
											<div class="resume-award-desc">Received Homer Awards in 2018 and 2019 at Home
												Depot, which recognizes outstanding work, and going the
												extra mile to drive projects to completion.
											</div>
										</li>
									</ul>
								</div>
							</section>
							<!--//interests-section-->
							<section class="resume-section language-section mb-5">
								<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
								<div class="resume-section-content">
									<ul class="list-unstyled resume-lang-list">
										<li class="mb-2"><span class="resume-lang-name font-weight-bold">English</span>
											<small class="text-muted font-weight-normal">(Native)</small></li>
										<li class="mb-2 align-middle"><span
												class="resume-lang-name font-weight-bold">French</span> <small
												class="text-muted font-weight-normal">(Working)</small></li>
										<li>
									</ul>
								</div>
							</section>
							<!--//language-section-->
							<section class="resume-section interests-section mb-5">
								<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h2>
								<div class="resume-section-content">
									<ul class="list-unstyled">
										<li class="mb-1">Live Sports</li>
										<li class="mb-1">Running</li>
										<li class="mb-1">Weightlifting</li>
										<li class="mb-1">Basketball</li>
										<li class="mb-1">Cooking</li>
										<li class="mb-1">Reading</li>
									</ul>
								</div>
							</section>
							<!--//interests-section-->
						</div>
					</div>
					<!--//row-->
				</div>
				<!--//resume-body-->
			</div>
		</article>
		</div>